<ActionBar class="action-bar" backgroundColor="#2f435e">
        <Label class="action-bar-title" text="Decrypt message"></Label>
</ActionBar>
<GridLayout class="page">
        <StackLayout>
                <Label style="margin-top: 10%;" [text]="algorithm" textWrap="true" class="text-center heading"></Label>
                <Label text="Basic information" textWrap="true" class="text-center sub-heading"></Label>
                <TextView style="margin-top: 5%; height: 35%;" [text]="information" editable="false" class="input input-text"></TextView>
                <Label text="Used implementation" textWrap="true" class="text-center sub-heading"></Label>
                <TextView style="margin-top: 2%; height: 25%;" [text]="usedLibrary"  editable="false" class="input input-text"></TextView>
        </StackLayout>
                
</GridLayout>