<ActionBar class="action-bar" backgroundColor="#2f435e">
    <Label class="action-bar-title" text="Decrypted message"></Label>
</ActionBar>

<GridLayout class="page">
    <StackLayout >
        <Label style="padding-top: 30%;" text="Your decrypted text" textWrap="true" class="text-center sub-heading"></Label>
        <TextView [(ngModel)]="decryptedText" id="plain-text-field" style.placeholderColor="#657785" editable="false" class="input input-text"></TextView>
        <Button text="COPY TO CLIPBOARD" class="button" (tap)="copyToClipboard()"></Button>
    </StackLayout>
</GridLayout>
